.bg-purple {
    color: white!important;
    background: linear-gradient(135deg, #37315e, rgb(64, 29, 186))!important;
  }
  
  .bg-pink {
    border-color: #faeef1!important;
    background: linear-gradient(227deg, rgba(220, 92, 124, 1) 0%, rgba(218, 65, 103, 1) 100%)!important;
    color: white!important;
  }


.navside {
    width: 230px;
    height: 100vh;
    position: fixed;
    margin-left: -300px;
    transition: 0.4s;
}
.header-nrt {
    color: white;;
    text-decoration: none;
    font-size: 20px;
    margin: 15px;
    display: block;
}

.header-nrt:hover {
    color: white;
}

.nav-link {
    color: #dcd3ebe1;
}

.nav-link:hover {
    background-color: #ffffff26;
    color: white;
}

.nav-item {
    list-style: none;
    border-bottom:  1px solid rgba(132, 132, 155, 0.137);
    padding-top: 5px;
} 

.faf {
    margin-right: 10px;
    font-size: 14px;
}

.login-info {
    background-color: #6a206d49;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    margin: 50px;
}

.my-container {
    transition: 0.4s;
}

.active-nav {
    margin-left: 0;
}

.active-cont {
    margin-left: 230px;
}




.menu-btn ,
.menu-btn:hover {
    color:#dcd3ebe1;
    margin-left: 80px;
}

#button-addon2 {
    border: none;
    color: white;
    background-color: #da4167;
}

