.bg-purple {
    color: white!important;
    background: linear-gradient(135deg, #37315e, rgb(64, 29, 186))!important;
  }
  
  .bg-pink {
    border-color: #faeef1!important;
    background: linear-gradient(227deg, rgba(220, 92, 124, 1) 0%, rgba(218, 65, 103, 1) 100%)!important;
    color: white!important;
  }


.navbar {
    background-color: #37315e;
}

.navside {
    width: 230px;
    height: 100vh;
    position: fixed;
    margin-left: -300px;
    background-color: #37315e;
    transition: 0.4s;
}
.header-nrt {
    color: white;;
    text-decoration: none;
    font-size: 20px;
    margin: 15px;
    display: block;
}

.header-nrt:hover {
    color: white;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    background-color: #ffffff26;
}

.dropdown-menu {
    background-color: #37315e;
}

.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #ffffff26;
}

.nav-item {
    list-style: none;
    border-bottom:  1px solid rgba(132, 132, 155, 0.137);
    padding-top: 5px;
} 

.faf {
    margin-right: 10px;
}

.login-info {
    background-color: #6a206d49;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    margin: 50px;
}

.my-container {
    transition: 0.4s;
}

.active-nav {
    margin-left: 0;
}

.active-cont {
    margin-left: 250px;
}

.menu-btn {
    background-color: #37315e;
    color: #fff;
}

.menu-btn:focus {
    box-shadow: 0 0 0 0.25rem #7952b30e;
}
.menu-btn:hover {
    color: white;
}

#button-addon2 {
    border: none;
    color: white;
    background-color: #da4167;
}

.sizeChart {
    height: 300px;
}

.btnDetails {
    background-color: #37315e;
}